@{
	ViewBag.Title = "Product";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FoodSys.Web.Areas.ModuleResource.Models.ModelProductIndex
<script type="text/javascript">
	//添加产品信息
	function addProduct() {
		window.top.openDialog({ Url: "/ModuleResource/Product/Create/?pageState=" + create, Title: "新增产品信息", Width: 750, Height: 500 });
	}

	//根据ID删除用户
	function deleteProduct(ID) {
		top.window.$("#sysConfirm").html("确定要删除？");
		top.window.$("#sysConfirm").dialog({
			resizable: false,
			height: 200,
			title: "系统提示",
			modal: true,
			buttons: {
				"是": function () {
					$.ajax({
						type: "POST",
						url: "/ModuleResource/Product/Delete",
						data: "id=" + ID,
						success: function (msg) {
							msg = eval("(" + msg + ")");
							if (msg.result == "") {
								window.location = commonPage.getCurrentUrl();
								window.top.sysMessage();
							}
							else {
								window.top.sysAlert(msg.result);
							}
						}
					});
					top.window.$("#sysConfirm").dialog("close");
				},
				"否": function () {
					top.window.$("#sysConfirm").dialog("close");
				}
			}
		});
	}
	//批量删除
	function deleteProductBatch() {
		if (!defaultTable.isSelect())
			return;

		top.window.$("#sysConfirm").html("确定要删除？");
		top.window.$("#sysConfirm").dialog({
			resizable: false,
			height: 200,
			title: "系统提示",
			modal: true,
			buttons: {
				"是": function () {
					$("form").ajaxFormUnbind();
					$("form").attr("action", "/ModuleResource/Product/DeleteBatch/?RetUrl=" + escape(commonPage.getCurrentUrl())).submit();
					top.window.$("#sysConfirm").dialog("close");
				},
				"否": function () {
					top.window.$("#sysConfirm").dialog("close");
				}
			}
		});
	}

	//根据ID修改供应商信息
	function editProduct(ID) {
		window.top.openDialog({ Url: "/ModuleResource/Product/Create/?ID=" + ID + "&pagestate=" + edit, Title: "修改产品信息", Width: 750, Height: 500 });
	}
	//根据编号查看用户信息
	function show(ID) {
		window.top.openDialog({ Url: "/ModuleResource/Product/Create/?ID=" + ID + "&pagestate=" + detail, Title: "供应产品查看", Width: 750, Height: 500 });
	}
</script>
@using (Html.BeginForm())
{
	/* 工具栏
	 ----------------------------------------------------------*/
	<div class="toolbar">
		<div class="toolbar-left">
			@Html.Button(ButtonType.新增, "addProduct()")
			@Html.Button(ButtonType.批量删除, "deleteProductBatch()")
			@Html.Button(ButtonType.导出XLS, string.Format("defaultExport.showExportDialog('{0}')", Project.Common.StringUtility.EncodeBase64("FoodSys.Entity.UTProduct")), "导出")
			@Html.Button(ButtonType.条件查询, "commonPage.scan()")
		</div>
		<div class="toolbar-right">
			@Html.TextBoxFor(x => x.SearchEntity._CommonSearchCondition, new { @class = "common-search-condition" })
			<input type="submit" class="common-search-submit" value="" />
		</div>
	</div>
	
	/* 模糊条件查询 search-container
     ----------------------------------------------------------*/
	<div class="search-container">
		<table>
			<tr>
				<th>
					名称：
				</th>
				<td>
					@Html.TextBoxFor(x => x.SearchEntity._Name, new { style = "width:192px" })
				</td>
				<th>
					供应商：
				</th>
				<td>
					@Html.DropDownListForFix(x => x.SearchEntity._SupplierID, SelectListHelper.ComposeSelectListFromCollect<UTSupplier>(Model.UTSupplierCollection, x => x.ID, x => x.Name, "---请选择---", ""), new { style = "width:192px" })
				</td>
				<th>
					类型：
				</th>
				<td>
					@Html.DropDownListForFix(x => x.SearchEntity._ProductType, SelectListHelper.ComposeSelectListFromCollect<UTProductType>(Model.UTProductTypeCollection, x => x.ID, x => x.TypeName, "---请选择---", ""), new { style = "width:128px" })
				</td>
				<th >
					&nbsp;
				</th>
			</tr>
			<tr>
				<th>
					进价区间：
				</th>
				<td>
					@Html.TextBoxFor(x => x.SearchEntity._PurchasePriceS, new { style = "width:80px" })
					<span>至</span> @Html.TextBoxFor(x => x.SearchEntity._PurchasePriceE, new { style = "width:80px" })
				</td>
				<th>
					售价区间：
				</th>
				<td>
					@Html.TextBoxFor(x => x.SearchEntity._SellPriceS, new { style = "width:80px" })
					<span>至</span> @Html.TextBoxFor(x => x.SearchEntity._SellPriceE, new { style = "width:80px" })
				</td>
				<th>
					状态：
				</th>
				<td>
					@Html.DropDownListForFix(x => x.SearchEntity._Status, SelectListHelper.ComposeSelectListFromEnum<FoodSys.Enum.EnumProductStatus>("---请选择---", ""), new { style = "width:128px" })
				</td>
				<td class="search-button">
					<input type="submit" value="" class="button-search" />
					<input type="button" value="" class="button-clear" />
				</td>
			</tr>
		</table>
	</div>

	/* 说明文字
        ----------------------------------------------------------*/
	<div class="search-clue">
		您可通过该功能，维护所有租赁企业相关信息
	</div>
    
	/* 表格数据显示
      ----------------------------------------------------------*/
	<div class="replace-container">
		@{
	Html.RenderPartial("Index_Partial");
		}
	</div>
}
