@model FoodSys.Web.Areas.ModuleResource.Models.ModelSupplierCreate
@{
	ViewBag.Title = "ModelSupplierCreate";
	Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
<style type="text/css">
	.table-detail th
	{
		width: 150px;
	}
	.td-retype .field-validation-valid
	{
		display: none;
	}
</style>
<div class="wfill hfill center">
	<p class="p-s1">
		@(Model.PageState)供应商
	</p>
	@using (Html.BeginForm())
 {
		@Html.HiddenFor(x => x.UTSupplierEntity.Version)
		@Html.HiddenFor(x => x.UTSupplierEntity.ID)
		@Html.HiddenFor(x => x.UTSupplierEntity.CreateDate)
		@Html.HiddenFor(x => x.UTSupplierEntity.CreateID)
		@Html.HiddenFor(x => x.ID)
		<table cellpadding="0" cellspacing="0" align="center" class="table-detail">
			<thead>
				<tr>
					<td colspan="2">
						<div>
							供应商信息</div>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>
						<span class="red">*</span>名称：
					</th>
					<td>
						@Html.TextBoxFor(x => x.UTSupplierEntity.Name, new { maxlength = 50 })
						@Html.ValidationMessageFor(x => x.UTSupplierEntity.Name)
					</td>
				</tr>
				<tr>
					<th>
						手机：
					</th>
					<td>
						@Html.TextBoxFor(x => x.UTSupplierEntity.Mobile, new { maxlength = 20 })
					</td>
				</tr>
				<tr>
					<th>
						电话：
					</th>
					<td>
						@Html.TextBoxFor(x => x.UTSupplierEntity.Phone, new { maxlength = 20 })
					</td>
				</tr>
				<tr>
					<th>
						地址：
					</th>
					<td>
						@Html.TextBoxFor(x => x.UTSupplierEntity.Address, new { maxlength = 100, style = "width:460px;" })
					</td>
				</tr>
				<tr>
					<th>
						状态：
					</th>
					<td>
						@Html.DropDownListForFix(x => x.UTSupplierEntity.Status, SelectListHelper.ComposeSelectListFromEnum<FoodSys.Enum.EnumSupplierStatus>("==请选择==", ""))
					</td>
				</tr>
				<tr>
					<th>
						备注：
					</th>
					<td>
						@Html.TextAreaForFix(x => x.UTSupplierEntity.Memo, new { style = "height:90px;width:460px;", cols = "20", rows = "3" })
					</td>
				</tr>
			</tbody>
		</table>
		<div class="center wfill">
			<input type="submit" value="保存" class="button" />
			<input type="button" value="关闭" class="button" onclick="javascript:window.parent.closeDialog();" />
		</div>
 }
</div>
