@model FoodSys.Web.Models.ModelSampleIndex
@{
	Layout = null;
}
	<div class="common-table-container">
		<table class="common-table" id="common-table">
			<colgroup>
				<col width="50" />
				<col width="100" />
				<col width="200" />
				<col width="200" />
				<col width="80" />
				<col width="80" />
				<col width="80" />
				<col width="150" />
				<col width="80" />
				<col width="250" />
			</colgroup>
			<thead>
				<tr>
					<th>
						<input type="checkbox" class="common-table-checkbox-all" />
					</th>
					<th>
						操作
					</th>
					@Html.HiddenFor(x => x.SearchEntity._OrderName, new { data_order_name = "" })
					@Html.HiddenFor(x => x.SearchEntity._OrderDirection, new { data_order_direction = "" })
					@(Html.ThOrderHelper<UTSample>(x => x.SupplierName, "供应商名称"))
					@(Html.ThOrderHelper<UTSample>(x => x.SupplyContent, "供货内容"))
					@(Html.ThOrderHelper<UTSample>(x => x.ContactName, "联系人"))
					@(Html.ThOrderHelper<UTSample>(x => x.Mobile, "移动电话"))
					@(Html.ThOrderHelper<UTSample>(x => x.Telephone, "固定电话"))
					@(Html.ThOrderHelper<UTSample>(x => x.Email, "电子邮箱"))
					@(Html.ThOrderHelper<UTSample>(x => x.Fax, "传真"))
					@(Html.ThOrderHelper<UTSample>(x => x.Address, "地址"))
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.GridDataSources)
	{
					<tr ondblclick="javascript:show('@item.ID');">
						<td>
							<input type="checkbox" name="checkboxItem" class="checkboxItem" value="@item.ID" />
						</td>
						<td>
							<a href="javascript:editSupplier('@item.ID')" class="a-edit" title="修改">&nbsp</a>
							<a href="javascript:deleteSupplier('@item.ID')" class="a-delete" title="删除">&nbsp</a>
						</td>
						<td>
							@(Project.Common.StringUtility.CutString(item.SupplierName, 14))
						</td>
						<td>
							@(Project.Common.StringUtility.CutString(item.SupplyContent, 14))
						</td>
						<td>
							@item.ContactName
						</td>
						<td>
							@item.Mobile
						</td>
						<td>
							@item.Telephone
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.Fax
						</td>
						<td>
							@(Project.Common.StringUtility.CutString(item.Address, 14))
						</td>
					</tr>
	}
			</tbody>
		</table>
	</div>
	<div>
		@{
			Html.RenderPartial("/Views/Controls/PaginateAjax.cshtml", Model.PaginateHelperObject);
		}
	</div>

